<header>
  <nav>
    <ul class="all-nav-links">
      <li class="logo">THE LOGO</li>
      <li class="nav-link" *ngFor="let link of navLinks">
        <div class="icon-cont">
          <fa-icon class="icon" [icon]="link.icon"></fa-icon>
        </div>
        <p class="p1">{{ link.header }}</p>
        <p class="p2">{{ link.subheader }}</p>
      </li>
      <li class="bar" (click)="showMenu = !showMenu">
        <fa-icon *ngIf="!showMenu" [icon]="faBars"></fa-icon>

        <fa-icon *ngIf="showMenu" [icon]="faTimes"></fa-icon>
      </li>
    </ul>
  </nav>
</header>

<ul class="big-obj" [ngClass]="{ 'inactive-sidemenu': !showMenu }">
  <li *ngFor="let list of bigObj">
    <div class="sidemenu" [ngClass]="{ 'active-sidemenu': showMenu }">
      <p
        class="header"
        (click)="showSub(list.id)"
        [ngClass]="{ 'is-active': list.isVisible }"
      >
        {{ list.title | uppercase }}
      </p>
    </div>
    <div *ngIf="list.isVisible" class="details-container">
      <p class="mobile-title">{{ list.title | uppercase }}</p>

      <p *ngIf="list.bodyHeader" class="details">
        <a href="">{{ list.bodyHeader }}</a>
      </p>
      <div class="details body-main">
        <p *ngIf="list.bodyMain" class="top">
          <a href=""> {{ list.bodyMain }}</a>
        </p>
        <hr style="width: 100%; opacity: 0.3" />
        <p class="top b">
          {{ list.body }}
        </p>
      </div>
      <p *ngIf="list.bodyHeader" class="details">
        <a href="">{{ list.body1 }}</a>
      </p>
      <p *ngIf="list.bodyHeader" class="details">
        <a href="">{{ list.body2 }}</a>
      </p>
      <p *ngIf="list.bodyHeader" class="details">
        <a href="">{{ list.body3 }}</a>
      </p>
      <p *ngIf="list.bodyHeader" class="details">
        <a href="">{{ list.body4 }}</a>
      </p>
    </div>
  </li>

  <div *ngIf="showMenu" class="nav-link-mobile">
    <li *ngFor="let link of navLinks ">
      <div class="contact">
        <fa-icon class="left" [icon]="link.icon"></fa-icon>
        <div class="right">
          <p class="p1">{{ link.header }}</p>
          <p class="p2">{{ link.subheader }}</p>
        </div>
      </div>
    </li>
  </div>
</ul>
<router-outlet></router-outlet>
